#content {
  max-width: 816px;
}

#content #page-title {
  color: #333d4b;
  font-weight: 700;
  line-height: 1.3;
}

#content h2 {
  margin-top: 76px;
  color: #333d4b;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
}

#content h3 {
  margin-top: 56px;
  color: #333d4b;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.6;
}

#content p,
#content li {
  color: #4e5968;
  font-size: 16px;
  line-height: 1.6;
}

#content a {
  color: #3182f6;
  font-weight: 500;
}

#content table th {
  background: #f2f4f6;
  color: #333d4b;
}

#content :not(pre) > code {
  border-radius: 6px;
  background: #f2f4f6;
}
